/* OrdersPage.css */

.orders-page {
  padding: 20px;
  position: relative; 
}

.table-container {
  margin-bottom: 20px; 
}

.add-button {
  font-size: 20px;
  padding: 5px 5px; 
  position: absolute;
  width: 80px; 
  top: 20px; 
  right: 20px; 
}


  